/* *
{
    transition: all 1s;
} */

body
{
    line-height: 1.15;
    margin: 0;
    font-family: "Raleway", sans-serif !important;
}

button
{
    outline: none !important;
    border: none !important;
    transition: 0.25s cubic-bezier(0, .54, .51, 1);
}

.sm-main
{
    margin-right: 10px !important;
    margin-top: 10px !important;
    margin-left: 340px;     /* highly depends on the width of the navbar */
}

.sm-container
{
    padding: 32px 16px;
    text-align: center;
    width: 100%;
}

.sm-bar-block
{
    display: block;
}

.sm-sidenavbar
{
    top: 0;
    left: 0;
    height: 100%;
    width: 330px;   /* change this too */
    position: fixed;
    background-color: rgb(255, 255, 255);
    overflow-x: hidden;
    z-index: 1;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.26);
}

.sm-btn-nav
{
    cursor: pointer;
    background-color: rgba(0, 0, 0, .05);
    text-align: left;
    width: 100%;
    padding: 8px;
}

.sm-btn-nav:hover, .sm-btn:hover
{
    background-color: rgba(0, 195, 255, 0.315);
}

.sm-btn-nav:active, .sm-btn:active
{
    /* color: white; */
    background-color: rgba(0, 0, 0, 0.2);
    transform: scale(.96);
}

.sm-btn-nav:focus, .sm-btn:focus
{
    background-color: rgba(0, 0, 0, 0.2);
}

.sm-flexbox
{
    display: flexbox;
}

.sm-btn
{
    padding: 8px;
    min-width: 100px;
    font-weight: bold;
    border-radius: 16px;
    background-color: rgba(0, 0, 0, .05);
}

.animate
{
    transition: all 0.5s cubic-bezier(0, .54, .51, 1);
}

.spin
{
    transform: rotate(-90deg);
}

.sm-regblock
{
    text-align: center;
    transition: all 0.5s cubic-bezier(0, .54, .51, 1);
    opacity: 0;
}

.fade-in
{
    transform: translateY(-10);
    opacity: 1;
}

.fade-out
{
    opacity: 0;
}

.sm-scheduleitem
{
    cursor: pointer;
    background-color: rgba(0, 0, 0, .05);
    text-align: left;
    width: 100%;
    padding: 8px 16px;
}

/* accordion for schedules */
.sm-accordion
{
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s cubic-bezier(0, .54, .51, 1);
}

/*Important classes of the schedule table*/
.sm-schedule
{
    text-align: center;
    box-shadow: 0px 0px 21px 2px rgba(0,0,0,0.18);
    border-radius: 16px;
    user-select: none;
}

.sm-schedule > table
{
    width: 100%;
    overflow: hidden;
    table-layout: fixed;
}

.sm-schedule > table > thead > tr > th:nth-child(n + 2)
{
    text-transform: uppercase;
    padding: 1.5em;
}

.sm-schedule > table > tbody > tr:nth-child(2n)
{
    background-color: rgba(92, 92, 92, 0.3);
}

.sm-schedule > table > tbody > tr > td
{
    transition: 0.25s cubic-bezier(0, .54, .51, 1);
}

.sm-schedule > table > tbody > tr > td:nth-child(1)
{
    max-width: 8em;
    padding: 1em;
}

.sm-schedule > table > tbody > tr > td:hover
{
    background-color: rgba(0, 195, 255, 0.315);
    /* border-radius: 16px; */
}

/* Separator */
.sm-schedule > table > tbody > tr > td
{
    border-right: 1px solid rgba(92, 92, 92, 0.3);
}

.sm-bold
{
    font-weight: bold;
}


/*Schedule table end*/

/* .sm-schedule-day
{
    margin: 0;
    padding: 16px 8px;
    background-color: rgba(0, 195, 255, 0.315);
}

.sm-schedule-day li
{
    display: inline-block;
    text-align: center;
    width: 64px;
    list-style-type: none;
} */